.App {
  height: 100vh;
  overflow: hidden;
}

.editorFrame {
  display: flex;
  padding: 0px;
  height: calc(100vh - 130px);
}

.editorFrame > * {
  padding: 10px;
  width: 100%;
  overflow: scroll;
}

.bp3-tabs {
  margin: 10px;
}

textarea {
  resize: none;
}
